/*Individual Assignment 2 CSS Styling for Glow Haven Website*/
/*Kaelei Dowdie 2405421*/
/*Tutor: Mrs.S.Badhika*/

:root{
    --main-color:#08c9c9; /*Teal*/
    --accent: #F5F5DC; /*Light Sand*/
    --text: #333333; /*Dark Grey for better readability*/
    --font: 'Segoe UI', Arial; 
}

body {
    font-family: var(--font);
    margin-left: 20px;
    margin-right: 20px;
    padding:0;
    background-color:var(--main-color);
    color: var(--text);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}

/* Header and Footer Styling*/
header, footer {
    background-color: var(--accent);
    padding: 10px;
    text-align:center;
    border-radius:10px;
    margin: 10px;
}

a:hover{
    color:rgb(234, 183, 116);
    text-decoration: none;
}

nav a {
    margin: 10px;
    color: var(--text);
    font-weight: bold;
    text-decoration: none;
}

.product {
  background-color: #cfcfb9; /* Moon mist for product cards */
  box-shadow: 4px 8px  rgba(0,0,0,0.2);
  border-radius: 10px;
  transition: 0.3s;
  width: 220px; /* Each card's width*/
  text-align: center;
  padding: 15px;
}

.product:hover {
  box-shadow: 8px 16px rgba(0,0,0,0.2);
}

.product img {
    width: 100%;
    height: auto; /* the element will automatically adjust its height to allow its content to be displayed correctly.*/
    border-radius: 10px;
}

.product-list {
    display: flex; /* Makes the items line up in a row*/
    justify-content: center; /*Centers the cards horizontally */
    flex-wrap: wrap; /*Moves the items to a new line if space runs out*/
    gap: 20px; /* Adds space between each product card*/
    padding: 20px;
}

/*Register and login styling*/
.form-container{
    background-color: rgb(220, 224, 227);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 8px rgba(0,0,0,0.2);
    max-width: 400px;
    margin: auto;
}

.form-container h2{
    text-align: center;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 5px;
    border-radius: 5px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: var(--accent);
    color: rgb(215, 195, 195);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
}

.form-container button:hover {
    background-color: var(--main-color);
}

/* Shopping Cart Styling*/
.cartTable {
    width:100%;
    border-collapse: collapse;
    margin:25px 0;
    background-color: white;
    border-radius: 10px;
    overflow:hidden; 
    padding: 10px 0;
    align-items: center;
}

.cartTable th {
    background-color:#7d9c92;
    color: white;
    padding: 12px;
    font-size: 16px;
    text-align: center;
}
.cartTable td {
    padding: 12px;
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
}

.cartTable tr:hover {
    background-color: #f1f1f1;
    transition: 0.3s;
}

.cartTotal{
    background-color: var(--main-color);
    text-align: right;
    font-size: 18px;
    padding: 12px;
    font-weight: bold;
    margin-top: 20px;
}

/* Checkout Styling*/
.checkoutTable {
    width:100%;
    border-collapse: collapse;
    margin:25px 0;
    background-color: white;
    border-radius: 10px;
    overflow:hidden; 
    padding: 10px 0;
    align-items: center;
}

.checkoutTable th {
    background-color:#7d9c92;
    color: white;
    padding: 12px;
    font-size: 16px;
    text-align: center;
}
.checkoutTable td {
    padding: 12px;
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
}

.checkoutTable tr:hover {
    background-color: #f1f1f1;
    transition: 0.3s;
}

.checkoutTotal{
    background-color: var(--main-color);
    text-align: right;
    font-size: 18px;
    padding: 12px;
    font-weight: bold;
    margin-top: 20px;
}

